body {
  max-width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
}

/* Navigation bar */
.nav {
  background-color: #ffffff;
}

/* Navigation tabs */
.nav-pills .nav-link {
  margin: 5px;
  border-radius: 10px;
}

/* Navigation tab content */
.nav-item {
  font-size: 18px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/* Background image panel */
.panel {
  max-width: 100%;
  max-height: auto;
  background-image: url("images/Tania.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Typing window */
.typing-window {
  margin: 300px 0px 0px 590px;
}

/* Base styles for the text */
.typing {
  font-family: monospace;
  font-size: 21px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
}

#line1 {
  animation: typing1 2s steps(14) forwards, blink 0.75s step-end infinite;
}

#line2 {
  opacity: 0;
  animation: typing2 2s steps(10) 2s forwards, blink 0.75s step-end infinite;
}

#line3 {
  opacity: 0;
  animation: typing3 2s steps(15) 4s forwards, blink 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

@keyframes typing2 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 10ch;
    opacity: 1;
  }
}

@keyframes typing3 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 15ch;
    opacity: 1;
  }
}

/* Cursor blink effect */
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Profile Page */
/* Paragraph style */
p {
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  line-height: 2;
}

/* Dynamic application of background color */
.bc-black {
  background-color: #ffffff;
}

/* All display block containers */
.container,
.container1,
.container2,
.container3,
.container4 {
  display: block;
  max-width: 100%;
  padding: 50px;
}

/* All left floats */
.left,
.left1,
.left2,
.left3,
.left4,
.left5,
.left6,
.sec1,
.sec2,
.sec3 {
  float: left;
}

/* All right floats */
.right,
.right1,
.right2,
.right3,
.right4,
.right5,
.right6 {
  float: right;
}

/* All border-radius*/
.left,
.left1,
.right,
.right1,
.left2,
.right2 {
  border-radius: 20px;
}

/* Animation for left and right */
@keyframes slideIn {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.right,
.left {
  position: relative;
}

.left,
.left1,
.left2,
.left3,
.right,
.right1,
.right2,
.right3 {
  animation: slideIn 1s ease-in forwards;
  opacity: 0;
}

/* Adding delays to synchronize the pairs */
.left {
  animation-delay: 0s;
}

.right {
  animation-delay: 1s; /* 1 second after .left */
}

.left1 {
  animation-delay: 3s;
}

.right1 {
  animation-delay: 4s; /* 1 second after .left1 */
}

.left2 {
  animation-delay: 6s;
}

.right2 {
  animation-delay: 7s; /* 1 second after .left2 */
}

.left3 {
  animation-delay: 9s;
}

.right3 {
  animation-delay: 10s; /* 1 second after .left3 */
}

/* Main container */
.container {
  height: 95vh;
  padding: 80px 50px 50px 50px;
  background-image: linear-gradient(#a600fa, #2841e5);
}

/* Left container */
.left {
  width: 30%;
  padding: 30px;
}

/* Right container */
.right {
  width: 65%;
  padding: 50px;
  background-color: #ffffff;
}

/* Profile section icon */
.profile-sec-icon {
  display: flex;
}

/* Overlay images */
.overlay-image {
  position: absolute;
  opacity: 0.8; /* Adjust transparency if needed */
}

.message {
  opacity: 0;
  transform: rotate(25deg);
  animation: anim1 2s cubic-bezier(0.25, 0.1, 0.25, 1) 1s 1 forwards;
}

@keyframes anim1 {
  from {
    top: 420px;
    left: 0px;
  }
  to {
    top: 420px;
    left: 880px;
    opacity: 1;
  }
}

.arrow,
.arrow1,
.arrow2 {
  opacity: 0;
}

.arrow {
  transform: rotate(45deg);
  animation: anim2 2s cubic-bezier(0.25, 0.1, 0.25, 1) 1s 1 forwards;
}

@keyframes anim2 {
  from {
    top: 610px;
    left: 200px;
  }
  to {
    top: 630px;
    left: 200px;
    opacity: 1;
  }
}

.arrow1 {
  rotate: 90deg;
  transform: scaleY(-1);
  animation: anim3 2s cubic-bezier(0.25, 0.1, 0.25, 1) 5s 1 forwards;
}

@keyframes anim3 {
  from {
    top: 1250px;
    left: 900px;
  }
  to {
    top: 1350px;
    left: 900px;
    opacity: 1;
  }
}

.arrow2 {
  rotate: 90deg;
  animation: anim4 2s cubic-bezier(0.25, 0.1, 0.25, 1) 5s 1 forwards;
}

@keyframes anim4 {
  from {
    top: 1950px;
    left: 600px;
  }
  to {
    top: 2000px;
    left: 600px;
    opacity: 1;
  }
}

/* Main container for Skills */
.container1 {
  background-color: #ffffffed;
}

/* Category table */
.category-table {
  width: 100%;
  text-align: center;
  margin-left: 60px;
}

/* Left skill sub-container */
.left1 {
  width: 65%;
  padding: 50px;
  background-color: #efefef;
}

.skill-table,
.skill-row {
  width: 100%;
}

.bar-col {
  height: 70px;
}

/* Progress bar attributes */
.bar-length {
  height: 15px;
}

/* Progress bar background color*/
.progress {
  background-color: #bbcaf4;
  width: 200px;
}

/* Right skill sub-container */
.right1 {
  width: 30%;
  padding: 25px 0px 25px 50px;
  background-color: #6f00ff;
}

/* List spacing */
.list-spacing {
  line-height: 40px;
}

.alert {
  width: 300px;
  font-size: 14px;
}

/* Main container for Academic */
.container2 {
  padding-top: 70px;
  background-image: linear-gradient(#4200dc, #a600fe);
}

.ac-alert {
  width: 900px;
  color: #000000;
  background-color: #ffffff;
}

/* Overlay images */
.grad-cap {
  top: 1700px;
  left: 120px;
  transform: rotate(-35deg);
}

.grad-girl {
  top: 1680px;
  left: 1150px;
}

/* GPA Table */
.gpa-table {
  width: 30%;
  font-size: 12px;
  text-align: center;
}

.gpa-table,
.gpa-row {
  border: 1px solid black;
}

/* Sub containers for Seconary education and co-curricular */
.right2 {
  width: 60%;
}

.left2,
.right2 {
  padding: 50px;
  background-color: #00000077;
}

.se-alert {
  width: 400px;
}

.cc-alert {
  width: 370px;
}

/* Main container for Projects*/
.container3 {
  height: 95vh;
  font-size: 12px;
  background-image: linear-gradient(#4200dc, #a600fe);
}

.left4 {
  width: 40%;
}

.right4 {
  width: 50%;
}

/* Main container for Certificates*/
.container4 {
  height: 100vh;
  background-image: linear-gradient(#4200dc, #a600fe);
}

.left5 {
  margin-left: 10px;
  width: 50%;
}

.right5 {
  margin-right: -50px;
  width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #00000074;
}

.left6 {
  width: 48%;
}

.right6 {
  width: 48%;
}

.gal-work {
  color: white;
}

/* Footer */
footer {
  height: 100px;
  margin: 0px;
}

.footerContainer {
  display: flex;
  width: 100%;
  height: 35vh;
  padding: 50px 100px 30px 100px;
  background-color: #000000;
  color: #dfdfdf;
  font-size: 14px;
}

.sec1 {
  width: 50%;
  margin-top: 0px;
}

.sec2 {
  width: 25%;
}

.sec3 {
  width: 25%;
}

.footerLink {
  text-decoration: none;
  color: #c3c3c3;
  line-height: 35px;
}

.row-height {
  height: 50px;
}

.bg-color {
  background-image: linear-gradient(#efefef, #efefef);
}
